</div>

<footer class="py-3 my-5 footer-border"> <!-- Border-top with specified class -->
    <p class="text-center footer-text">© <%= new Date().getFullYear() %> CryptoChatter. All rights reserved.</p>
    <!-- Paragraph with specified class -->
</footer>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>