<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CryptoChatter</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom styles for Bitcoin theme -->
    <style>
        body {
            background-color: #333;
            /* Dark background */
            color: #f5f5f5;
            /* Light text */
        }

        .card {
            background-color: #444;
            /* Darker card background */
            border: 1px solid #ff9900;
            /* Bitcoin orange */
        }

        .btn {
            background-color: #ff9900;
            /* Bitcoin orange */
            color: #333;
            /* Dark text on buttons */
        }

        .btn:hover {
            background-color: #ffb03a;
        }

        .underline {
            text-decoration: underline;
        }

        .orange {
            background-color: #ff9900;
        }

        .orange-link {
            color: #ff9900;
            text-decoration: none;
        }

        .orange-link:hover {
            color: #ff9900;
        }

        /* Class for border-top with specific color */
        .footer-border {
            border-top: 1px solid #ff9900;
            /* Border-top with specific color */
        }

        /* Class for paragraph with specific color */
        .footer-text {
            color: #ff9900;
            /* Text color */
        }

        .no-resize {
            resize: none;
            /* Disables the resize functionality */
        }
    </style>
</head>

<body>
    <div class="container mt-5">